@model WebCrud.Models.EmployeeWebModel

@{

    if (Model.Mode == "Add")
    {
        ViewData["Title"] = "Add";
    }
    else if (Model.Mode == "Edit")
    {
        ViewData["Title"] = "Edit";
    }
    else
    {
        ViewData["Title"] = "Delete";
    }   
}

<div class="container shadow p-5">
    <div class="row pb-2">
        @if (Model.Mode =="Add"){
            <h2>Add Employee</h2>
        }
        else if(Model.Mode=="Edit"){
            <h2>Edit Employee</h2>
        }
        else{
            <h2>Delete Employee</h2>
        }
        
    </div>

    <form id="employeeformid">
        <div asp-validation-summary="All"></div>
        <input type="hidden" id="Mode" value="@Model.Mode"/>
        <input type="hidden" id="Id" value="@Model.Id" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Employee Name</label> <span>*</span>
                @if (Model.Mode == "Add")
                {
                    <input type="text" id="Name" class="form-control mb-3" asp-for="Name" placeholder="Enter Name">
                }
                else if (Model.Mode =="Edit"){
                    <input type="text" id="Name" class="form-control mb-3" asp-for="Name" placeholder="Enter Name" value="@Model.Name">
                }
                else if(Model.Mode=="Delete"){
                    <input type="text" id="Name" class="form-control mb-3" asp-for="Name" placeholder="Enter Name" value="@Model.Name" disabled="disabled">
                }
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Role">Role</label> <span>*</span>
                @if (Model.Mode == "Add")
                {
                    <input type="text" id="Role" class="form-control mb-3" asp-for="Role" placeholder="Enter Role">
                }
                else if (Model.Mode == "Edit")
                {
                    <input type="text" id="Role" class="form-control mb-3" asp-for="Role" placeholder="Enter Role" value="@Model.Role">
                }
                else if (Model.Mode == "Delete") 
                {
                    <input type="text" id="Role" class="form-control mb-3" asp-for="Role" placeholder="Enter Role" value="@Model.Role" disabled="disabled">
                }
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Salary">Salary</label>
                @if (Model.Mode == "Add")
                {
                    <input type="text" id="Salary" class="form-control mb-3" asp-for="Salary" placeholder="Enter Salary">
                }
                else if (Model.Mode == "Edit"){
                    <input type="text" id="Salary" class="form-control mb-3" asp-for="Salary" placeholder="Enter Salary" value="@Model.Salary">
                }
                else if (Model.Mode == "Delete")
                {
                    <input type="text" id="Salary" class="form-control mb-3" asp-for="Salary" placeholder="Enter Salary" value="@Model.Salary" disabled="disabled">
                }
            </div>
            
        </div>
        @if(Model.Mode=="Edit")
        {
            <input type="button" id="btnsave" title="Update" class="btn btn-lg btn-primary p-2 bi bi-file-plus-square" name="Update" value="Update" />
        }
        else if (Model.Mode == "Delete")
        {
            <input type="button" id="btnDelete" title="Delete" class="btn btn-lg btn-primary p-2 bi bi-file-plus-square" name="Delete" value="Delete" />
        }
        else if (Model.Mode == "Add")
        {
            <input type="button" id="btnsave" title="Save" class="btn btn-lg btn-primary p-2 bi bi-file-plus-square" name="Save" value="Save" />
        }
        <a asp-controller="Employee" asp-action="Index" class="btn btn-lg btn-warning p-2 btnback"><i class="bi bi-pencil-square"></i>Back</a>
    </form>

</div>

<script>
    $("#btnsave").click(function(){
        debugger;
        if ($("#Name").val() == "") {
            swal("", "Enter Name !!!", "error");
            return false;
        }
        if ($("#Role").val() == "") {
            swal("", "Enter Role !!!", "error");
            return false;
        }
        $.ajax({
            url: "/Employee/PushEmployee",
            data: $("#employeeformid").serialize() + "&Id=" + $("#Id").val() + "&Mode=" + $("#Mode").val(),
            success: function (data, textStatus, jqXHR) {
                debugger;
                swal("", data, "success");
                $("#Name").val("");
                $("#Role").val("");
                $("#Salary").val("");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                swal("", data, "error");
            }
        })
    })
    $("#btnDelete").click(function () {
        debugger;
        $.ajax({
            url: "/Employee/DeleteEmp",
            data: {Id : $("#Id").val()} ,
            success: function (data, textStatus, jqXHR) {
                debugger;
                swal("", data, "success");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                swal("", data, "error");
            }
        })
    })
</script>